html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ----- Кнопки ----- */

.button {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    
    background-color: #766357;
    border: none;
    cursor: pointer;
}

.button:focus,
.button:hover {
    background-color: #604e43;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #503e33;
}

.btn-blue {
    background-color: #81b3d2;
}

.btn-blue:focus,
.btn-blue:hover {
    background-color: #669ec0;
}

.btn-blue:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.button-search {
    padding: 30px 138px;
}

.button-find {
    padding: 17px 195px;
}

.inner-page .button-filter {
    display: block;
    margin: 0 auto;
    margin-left: 85px;
    padding: 5px 35px 6px;
    width: 137px;
    
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.inner-page .button-filter:focus,
.inner-page .button-filter:hover {
    color: #000000;
    
    background-color: #ffffff;
}

.inner-page .btn-blue,
.inner-page .bth-reserve {
    display: inline-block;
    
    padding: 3px 17px;
    margin: 6px 2px 0 0;
    
    font-size: 14px;
    line-height: 21px;
    
    vertical-align: top;
}

/* ----- Основная навигация ----- */

.main-navigation {
    position: relative;
    
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%)
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
            box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.3);
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 14px 72px 16px;
    
    list-style: none;
}

.site-navigation a {
    color: #000000;
}

.site-navigation li {
     -ms-flex-preferred-size: 240px;
         flex-basis: 240px; 
}

.site-navigation li:nth-child(-n+2) {
    text-align: left;
}

.site-navigation li:nth-child(n+3) {
    text-align: right;
}

.site-navigation li:nth-child(2) {
    margin-right: 94px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
    color: #766357;
}

/* ----- Баннер ----- */

.logo-wrapper {
    position: relative;
    z-index: -1;
    
    display: inline-block;
    width: 100%;
    height: 508px;
    padding-top: 76px;
    
    text-align: center;
    vertical-align: top;
    
    background-color: #8db5d2;
    background-image: url("../img/background_photo.jpg");
    background-position: center -56px;
    background-repeat: no-repeat;  
}

.logo-wrapper::after {
    content: "";
    
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
  
    width: 1200px;
    height: 57px;
    
    background-image: url("../img/background_mask.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slogan-wrapper {
    padding-top: 61px;
    margin: 0 auto;
    padding-bottom: 28px;
    
    background-color: #ffffff;
}

.slogan-main {
    padding: 0 300px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    
    background-color: #ffffff;
}

/* ----- Причины ----- */

.reasons {
    text-align: center;
}

.reasons-promo {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 51px;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    
    background-color: #ffffff; 
}

.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 51px;
    
    list-style: none;
}

.reasons-item {
    position: relative;
    
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    min-height: 256px;
    padding-bottom: 30px;
    margin: 0 auto;
    
    text-align: center;
    
    background-color: #eeeeee; 
}

.reasons-blue {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    
    color: #ffffff;
    
    background-color: #81b3d2;
}

.reasons-city {
    position: relative;
    z-index: -1;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    padding-right: 66.666666%;
}

.reasons-city::before {
    content: "";
  
    position: absolute;
    top: -78px;
    right: 0px;
  
    width: 800px;
    height: 400px;
    
    background-color: #8db5d2;
    background-image: url("../img/reasons-city.jpg");
    background-repeat: no-repeat;
}

.reasons-bridge {
    position: relative;
    
    padding-left: 66.666666%;
}

.reasons-bridge::after {
    content: "";
  
    position: absolute;
    top: -75px;
    left: 0px;
  
    width: 800px;
    height: 400px;
  
    background-color: #8db5d2;
    background-image: url("../img/reasons-bridge.jpg");
    background-repeat: no-repeat;
}

.reasons-number {
    margin: 25px 0 0;
}

.reasons-description {
    padding: 0;
    margin: 21px 60px 0;
}

.reasons-bridge .reasons-description {
     margin: 20px 40px 0;
}

.reasons-item-header {
    width: 160px;
    margin: 48px auto 0;
    
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #000000;
}

.reasons-blue-header {
    color: #ffffff;
}

.features-list {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    
    padding-bottom: 70px;
    
    background-color: #ffffff;
}

.features-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 60px;
    
    list-style: none;
    
    background-color: #ffffff;
}

.feature-item {
    position: relative;
    
    -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
    min-height: 200px;
    padding: 0 4.5%;
    padding-top: 82px;
    
    text-align: center;
 }

.feature-house {
    width: 75px;
    height: 72px;
  
    background: url("../img/icon-house.svg") no-repeat center 0px;
}

.feature-food {
    width: 74px;
    height: 70px;
  
    background: url("../img/icon-food.svg") no-repeat center 0px;
}

.feature-souvenirs {
    width: 64px;
    height: 76px;
  
    background: url("../img/icon-souvenirs.svg") no-repeat center 0px;
}

.feature-item-header {
    padding-bottom: 2px;
    
    font-size: 21px;
    font-weight: 700;
}

/* ----- Поиск гостиницы ----- */

.appointment-logo {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.appointment-info {
    padding-bottom: 33px;
    
    line-height: 24px;
    text-align: center; 
}

/* ----- Форма поиска ----- */

.modal-search {
    position: relative;
    
    margin: 0 auto;
    width: 568px;
}

.search-hotels {
    position: absolute;
    top: 86px;
    padding: 55px;
    padding-top: 43px;
    
    background-color: #ffffff;
}

.modal-search-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 38px;
    margin-bottom: 28px;
    
    line-height: 26px;
    font-weight: 700;
    color: #000000; 
}

.modal-search-small {
    margin-bottom: 54px;
}

.modal-search-info label {
    display: inline-block;
    width: 110px;
    
    vertical-align: top;
}

.modal-search-info input {
    width: 308px;
    height: 38px;
    padding-left: 14px;
    padding-right: 8px;
    
    font: inherit;
    
    background-color: #f2f2f2;
    border: none;
}

.modal-search-info input::-webkit-input-placeholder {
    font: inherit;
    text-transform: uppercase;
    color: #000000;
}

.modal-search-info input:-ms-input-placeholder {
    font: inherit;
    text-transform: uppercase;
    color: #000000;
}

.modal-search-info input::-ms-input-placeholder {
    font: inherit;
    text-transform: uppercase;
    color: #000000;
}

.modal-search-info input::placeholder {
    font: inherit;
    text-transform: uppercase;
    color: #000000;
}

.modal-search-info input::-ms-input-placeholder {
    font: inherit;
    text-transform: uppercase;
    color: #000000;
}

.modal-search-info input:-ms-input-placeholder {
    font: inherit;
    text-transform: uppercase;
    color: #000000;
}

.modal-search-info-adults,
.modal-search-info-children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.modal-search-info-children label {
    width: 62px; 
}

.modal-search-info-adults label {
    width: 111px;
}

.modal-search-info-adults input,
.modal-search-info-children input {
    width: 38px;
    text-align: center;
}

.modal-search-info button {
    width: 38px;
    height: 38px;
    
    fill: #cacaca;
    background-color: #f2f2f2;
    cursor: pointer;
    border: none;
}

.input-minus svg,
.input-plus svg {
    stroke: #a9a9a9;
}

.modal-search-info button:active {
    outline-color: transparent;
}

.modal-search-info input:hover {
    background-color: #ebebeb;
}
    
.modal-search-info input:focus {
    background-color: transparent;
    outline-color: #e5e5e5;
    border: 2px solid #e5e5e5;
}

.input-calendar:hover svg,
.input-calendar:focus svg {
    fill: #000000;
}

.input-calendar:active svg {
    fill: #81b3d2;
}

.input-minus:hover svg,
.input-plus:hover svg,
.input-minus:focus svg,
.input-plus:focus svg {
    stroke: #000000;
}

.input-minus:active svg,
.input-plus:active svg {
    stroke: #81b3d2;
}

/* ----- Фильтр поиска ----- */

.filters {
    width: 1200px;
    margin: 0;
    padding: 0;
}

.filter {
    width: 100%;
    color: #ffffff;
    
    background-color: #2b3d49;
    background-image: url("../img/background_filter.jpg");   
    background-position: 0 0;
    background-repeat: no-repeat;
}

.filter-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 27px 6% 0;
}

.filter fieldset {
    min-width: 255px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    
    border: none;  
}

.filter legend {
    margin-bottom: 25px;
    
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.filter-option {
    margin-bottom: 26px;
    padding-left: 40px;     
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-checkbox:not(:checked) + label::before {
    content: "";
    
    position: absolute;
    left: -40px;
    top: 0;
    width: 23px;
    height: 23px;

    background-image: url("../img/form-checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -40px;
    top: 0;
    width: 27px;
    height: 23px;
  
    background-image: url("../img/form-checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:not(checked):disabled + label::after {
    content: "";

    position: absolute;
    left: -40px;
    top: 0;
    width: 23px;
    height: 23px;
  
    background-image: url("../img/form-checkbox-off-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-checkbox:checked:disabled + label::after {
    content: "";

    position: absolute;
    left: -40px;
    top: 0;
    width: 27px;
    height: 23px;
  
    background-image: url("../img/form-checkbox-on-disabled.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-price {
    -ms-flex-preferred-size: 317px;
        flex-basis: 317px;
    margin-left: 227px;
}

.filter-price-header {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.filter-price-controls {
    position: relative;
    
    height: 36px;
    margin: 13px 0 20px;
    
    font-size: 0;
    
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.filter-price-controls::after {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
        
    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.filter-min-price,
.filter-max-price{
    display: inline-block;
    min-width: 146px;
    padding-left: 65px;
    
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;

    cursor: pointer;
  }

.filter-price-controls input {
    width: 50px;
    margin: 0;
    
    font: inherit;
    color: inherit;
    
    background: none;
    border: none;
}

.filter-range-controls {
    position: relative;

    margin-bottom: 32px;
}

.filter-range-scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.filter-range-bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 20px;
    height: 20px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    width: 22px;
    height: 22px;
}

/* ----- Результаты поиска ----- */

.results {
    margin: 0;
    padding: 0 6%;
}

.results-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    
    padding: 30px 0 26px;
}

.results-sorting-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 31px;
}

.results-logo {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    
    margin: 0 15px 0 0;
}

.results-sorting {
    margin: 0;
    margin-right: 40px;
    
    font-size: 12px;
    line-height: 18px;
}

.sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    
    list-style: none;
}

.sort-item {
    margin-right: 32px;
}

.sort-item a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dotted #81b3d2;
}

.sort-item a:focus,
.sort-item a:hover {
    color: #81b3d2;
}

.sort-item a:active {
    color: #000000;
    border: none;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:active {
    color: #81b3d2;
    border: none;
    cursor: default;
}

.sort-arrow {
    position: relative;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 0 auto;
    width: 35px;
}

.sort-arrow-increase {
    position: absolute;
    top: -12px;
    right: 24px;
    
    border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid #cacaca;
    
    cursor: pointer;
}

.sort-arrow-decrease {
    position: absolute;
    top: -12px;
    right: 0px;
    
    border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 11px solid #cacaca;
    
    cursor: pointer;
}

.sort-arrow-increase:hover {
    border-bottom-color: #231f20;
}
.sort-arrow-decrease:hover {
    border-top-color: #231f20;
}

.sort-arrow-increase:active {
    border-bottom-color: #81b3d2;
}
.sort-arrow-decrease:active {
    border-top-color: #81b3d2;
}

.sort-arrow-current,
.sort-arrow-current:hover,
.sort-arrow-current:active {
    border-top-color: #81b3d2;
    cursor: default;
}

.results-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.results-item {
    position: relative;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0 30px;
}

.results-item::before {
    content: "";
    
    position: absolute;
    top: 0;
    left: -6.8%;
    
    width: 113.65%;
    height: 1px;
    
    background-color: #e5e5e5;
}

.results-item:last-child::after {
    content: "";
    
    position: absolute;
    bottom: 0;
    left: -6.8%;
   
    width: 113.65%;
    height: 1px;
    
    background-color: #e5e5e5;
}

.results-image {
    display: inline-block;
    margin-right: 30px;
    width: 135px;
    height: 90px;
    
    vertical-align: top;
}

.results-hotel-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.results-hotel-name {
    padding: 0;
    margin: 0;
    margin-top: -5px;
}

.results-hotel-title {
    display: inline-block;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    vertical-align: top;
}

.results-hotel-title:focus,
.results-hotel-title:hover {
    color: #81b3d2;
}

.results-hotel-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.results-type-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
    margin: 6px 8px 11px 0;
}

.results-type {
    font-weight: 400;
    min-width: 110px;
    margin-right: 4px;
}

.results-price {
    font-weight: 400;
    min-width: 110px;
}

.results-rating-wrapper { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}

.results-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.star {
    width: 18px;
    margin-left: 4px;
}

.results-stars {
   margin: 0;
   height: 17px;
    
   background-image: url("../img/icon-star.svg");
   background-repeat: space;
   background-size: 18px 17px;
 }

.results-rating {
    padding: 3px 13px;
    margin: auto 0 0;
    min-width: 110px;
    
    
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-align: right;
    color: #666666;
    
    background-color: #f2f2f2;
}

/* ----- Подвал ----- */

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    background-color: #ffffff;
}
.inner-page .main-footer {
    position: relative;
}

.main-footer {
    color: #000000;
    
    border-top: 1px solid transparent; 
}

.main-footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 35px 0;
    padding-bottom: 40px;
}

.footer-hashtag {
    margin: 0;
    -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    
    text-align: center;
}

.footer-hashtag a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
    margin: 0 auto;
    padding: 0;
    
    text-align: center;
    
    list-style: none;
}

.footer-social li {
    margin-right: 6px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;
    
    color: #000000;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    opacity: 0.3;
}

.footer-copyright {
    -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
    margin: 0;
    padding-top: 3px;
    
    text-align: center;
}

.footer-copyright b {
    display: inline-block;
    padding-top: 7px;
    padding-right: 4px;
    
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #000000;
    vertical-align: top; 
}

.copyright-logo {
    fill: #231f20;
}

.copyright-logo:hover,
.copyright-logo:focus {
    fill: #81b3d2;
}

.copyright-logo:active {
    fill: #bdbbbc;
}
